<div class="container p-5">
    <div class="container text-white d-flex flex-column justify-content-center align-items-center altezza-first ">
        <h1 class="pb-5">Account collegati a Netflix</h1>
        <div class="row justify-content-around">
            <div class="col-12 col-md-4 d-flex justify-content-center text-center flex-column" *ngFor="let user of users">
                <a
                    href="intex.html?imgURL=https://occ-0-3716-784.1.nflxso.net/dnm/api/v6/vN7bi_My87NPKvsBoib006Llxzg/AAAABRNr82K30-jnIkeHUDVUeADZxOp3g4lERV1Lymn-2QzGaY_AghcfoAiShoE9jrt2gdli7WfcQsXDluT7O1lIpifQPF624SQcFMm7.png?r=421">
                    <img src="https://occ-0-3716-784.1.nflxso.net/dnm/api/v6/vN7bi_My87NPKvsBoib006Llxzg/AAAABRNr82K30-jnIkeHUDVUeADZxOp3g4lERV1Lymn-2QzGaY_AghcfoAiShoE9jrt2gdli7WfcQsXDluT7O1lIpifQPF624SQcFMm7.png?r=421"
                        alt="" width="300px" class="img-fluid">
                </a>
                <div class="justify-content-start d-flex pt-md-3 pt-2 pb-2 justify-content-md-center">
                    <span>{{user.name}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
