.img-cont {
    background-image: url("https://images.inc.com/uploaded_files/image/1920x1080/getty_638884198_366705.jpg");
    width: 50%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
a:hover{
    color: rgb(12, 0, 235) !important;
}
