<nav class="navbar fixed-top">
    <div class="container justify-content-start navbar-expand-lg bg-coustom rounded-4 ">
        <a class="navbar-brand px-3"  [routerLink]="'/'"><img src="../../../assets/img/pngwing.com.png" width="120px" alt=""></a>
        <div class="col-4 col-lg-4">
            <ul class="navbar-nav d-flex flex-row">
                <li class="nav-item hide-on-mobile">
                    <a class="nav-link active text-white px-3" aria-current="page" [routerLink]="'/'"
                        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white px-3" [routerLink]="'/Lamborghini'"
                        routerLinkActive="active">Lamborghini</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white px-3 text-nowrap" [routerLink]="'/AstonMartin'"
                        routerLinkActive="active">Aston Martin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white px-3" [routerLink]="'/Ferrari'" routerLinkActive="active">Ferrari</a>
                </li>
            </ul>
        </div>
    </div>
</nav>