@import '../mixins/mixin';
@import 'colori';

nav {
    @include interpolazione('color', $bgViolet);
    .nero{
        color: $text-blue;
        font-size: 30px;
        
    }
    a{
        text-decoration: none;
        font-weight: bold;
        color: white;
        font-size: 10px;
        @include pading (right,20px);
        
    }
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include pading (left,100px);
    @include pading (right,100px);
    @include pading (top,20px);

}