

/* IMPOSTAZIONI GENERALI */

html body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(/assets/img/sfondo.png);
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
}


/* HEADER */
.contenitore-header {
    text-align: center;
    margin: 25px;
    box-shadow: 1px 8px 5px grey;
    background: rgb(0, 156, 193);
    background: linear-gradient(180deg, rgba(0, 156, 193, 1) 19%, rgba(0, 106, 128, 1) 100%);
    padding: 25px;
}

.decaration {
    list-style: none;
    color: white;
}

.decaration-p {
    margin-left: 32px;
    color: white;
}

.material-symbols-outlined {
    font-size: 12px;
}

.material-symbols-outlined {
    font-size: 12px;
}

#hover {
    list-style: none;

}

#hover-red {
    text-decoration: none;
    color: white;
}

#hover-red:hover {
    color: red;
}


/* MAIN */
main {
    background-color: white;
    margin: 25px;
    box-shadow: 2px 3px 10px 1px grey;
    text-align: left;
    padding: 25px;
}

.color-grey {
    color: grey;
}

.color-parti {
    color: #b3508d;
}

.backround-span {
    background-color: #e3e3e3;
    border: 2px solid #00000037;
    border-radius: 10px;
}


/* TABELLE */
table {
    border-bottom: 2px solid #3f6bca;
    border-collapse: collapse;
}

.c-white {
    color: white;
    background-color: #3f6bca;

}

th,
td {
    padding: 10px;
    border: 0;
    text-align: center;
}

tr:nth-child(even) {
    background: #f3f3f3;
}

.color-normal {
    color: #4ebdd8;
}


/* video */
.contenuto-video {
    width: 100%;
    border-radius: 15px;
}


/* parte form */
.email-css {
    padding: 3px;
}

.button-color {
    background-color: #3f6bca;
    ;
    color: white;
    padding: 3px;
}

.button-color:hover {
    color: rgb(255, 0, 0);
}

.centrare {
    text-align: center;
}

.back-form {
    background-color: #e3e3e3;
    padding: 70px 50px 50px 70px;
    margin-top: 5%;
}


/* ELEMENTI NELL' ASIDE */
.back-aside {
    background-color: #e3e3e3;
    border: 1px solid #9b9b9bc7;
    padding: 30px;
    margin-top: 20px;
}

.sposta {
    text-align: end;
}

a {
    color: #0fa0c4;
}


/* FOOTER */

.a-footer {
    color: #b3508d;
}

.footer-container {
    color: white;
    text-align: center;
    margin: 25px;
    padding: 10px 25px 25px 25px;
    background: rgb(53, 53, 53);
    background: linear-gradient(0deg, rgba(53, 53, 53, 1) 0%, rgba(5, 85, 103, 1) 68%);
}