/* You can add global styles to this file, and also import other style files */
body {
    background: radial-gradient(50% 123.47% at 50% 50%, #00ff94, #720059),
               linear-gradient(121.28deg, #669600, #ff0000),
               linear-gradient(360deg, #0029ff, #8fff00),
               radial-gradient(100% 164.72% at 100% 100%, #6100ff, #00ff57),
               radial-gradient(100% 148.07% at 0% 0%, #fff500, #51d500);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: screen, color-dodge, overlay, difference, normal !important;
}

