<div class="container justify-content-center d-flex mt-5">
    <div class="row">
        <div class="col">
            <form #drivenForm="ngForm" (ngSubmit)="onSubmit(drivenForm)">
                <mat-form-field>
                    <mat-label>Username</mat-label>
                    <input matInput type="text" name="username" ngModel required minlength="10">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput type="password" name="password" ngModel required minlength="15">
                </mat-form-field>
                <button mat-flat-button type="submit" color="primary" [disabled]="!drivenForm.valid">Primary</button>
            </form>
        </div>
    </div>
</div>