<div class="container pt-5">
    <div class="row bg-body-secondary p-4 card">
        <div class="col-12  py-5">
            <app-inevidenza></app-inevidenza>
        </div>
    </div>
    <div class="row pt-5 justify-content-between">
        <h1 class="pb-5">Parte consigliata</h1>
        <div class="col-3 bg-body-secondary p-4 card">
            <h2 class="text-nowrap">Potrebe piacerti</h2>
            <app-consigliati></app-consigliati>
        </div>

        <div class="col-3  bg-body-secondary p-4 card">
            <h2 class="text-nowrap">Potrebe piacerti</h2>
            <app-consigliati></app-consigliati>
        </div>

        <div class="col-3  bg-body-secondary p-4 card">
            <h2 class="text-nowrap">Potrebe piacerti</h2>
            <app-consigliati></app-consigliati>
        </div>

        <div class="col-12 my-5 ">
            <div>
                <a class="pe-2 mx-4" [routerLink]="['/activePosts']"><button type="button" class="btn btn-primary">Active post</button></a>
                <a [routerLink]="['inactivePosts']"><button type="button" class="btn btn-primary">Inactive post</button></a>
            </div>
        </div>
    </div>

    <div class="row pt-3 justify-content-between pb-5">
        <div class="col-5 bg-body-secondary px-4 py-3 card">
            <app-correlati></app-correlati>
        </div>
        <div class="col-5 bg-body-secondary px-4 py-3 card">
            <app-correlati></app-correlati>
        </div>
    </div>
</div>