<div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1">
    <ul class="list-group mb-0">
        <li class="list-group-item d-flex align-items-center border-0 mb-2 rounded"
            *ngFor="let item of arrayAllToDo; let i = index">
            <input class="form-check-input me-2" type="checkbox" [checked]="item.completed" aria-label="..."
                (change)="toggleCompletion(i)" />
            <span [ngClass]="{'text-decoration-line-through': item.completed}">{{ item.todo
                }}</span>
        </li>
    </ul>
</div>