<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <!-- Bottone per il toggle della navbar su dispositivi mobili -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Contenitore della navbar -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <!-- Lista dei link della navbar -->
            <ul class="navbar-nav">
                <!-- Link per la homepage -->
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" [routerLink]="'/'">Home</a>
                </li>
                <!-- Link per il login (mostrato solo se non autenticato) -->
                <li class="nav-item" *ngIf="!isAuthenticated">
                    <a class="nav-link" [routerLink]="'driven'">Login</a>
                </li>
                <!-- Link per la registrazione (mostrato solo se non autenticato) -->
                <li class="nav-item" *ngIf="!isAuthenticated">
                    <a class="nav-link" [routerLink]="'reattivi'">Sign in</a>
                </li>
                <!-- Link per il logout (mostrato solo se autenticato) -->
                <li class="nav-item" *ngIf="isAuthenticated">
                    <a class="nav-link" (click)="logout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>