/* Reset del box model */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Stili di base per il body */
body {
	font-family: 'Arial', sans-serif;
	-webkit-font-smoothing: antialiased;
	background: #000;
	/* Colore di sfondo nero */
	color: #999;
	/* Colore del testo grigio */
}

/* Rimuove i punti dall'elenco degli elementi non ordinati */
ul {
	list-style: none;
}

/* Stili per gli elementi di intestazione */
h1,
h2,
h3,
h4 {
	color: #fff;
	/* Colore del testo bianco */
}

/* Stili per i link */
a {
	color: #fff;
	/* Colore del testo bianco */
	text-decoration: none;
	/* Rimuove il sottolineato dai link */
}

/* Stili per i paragrafi */
p {
	margin: 0.5rem 0;
	/* Margin superiore e inferiore di 0.5 rem */
}

/* Stili per le immagini */
img {
	width: 100%;
	/* Le immagini occupano il 100% della larghezza del contenitore */
}

/* Stili per il componente showcase */
.showcase {
	width: 100%;
	height: 100vh;
	/* Altezza pari al 100% dell'altezza della viewport */
	position: relative;
	background: url('https://i.ibb.co/vXqDmnh/background.jpg') no-repeat center center/cover;
	/* Immagine di sfondo con copertura */
}

.showcase::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: rgba(0, 0, 0, 0.65);
	/* Sfondo semi-trasparente */
	box-shadow: inset 30px 10px 150px #000000;
	/* Ombra interna */
}

/* Stili per il logo */
.logo {
	position: relative;
	z-index: 2;
	height: 90px;
}

.logo img {
	width: 170px;
	position: absolute;
	top: 20px;
	left: 40px;
}

/* Contenuto del componente showcase */
.showcase-content {
	position: relative;
	z-index: 2;
	width: 450px;
	height: 650px;
	background: rgb(0, 0, 0, 0.65);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	text-align: left;
	padding: 60px 65px;
}

/* Stili per il componente del modulo di registrazione */
.formm h1 {
	margin-bottom: 20px;
}

.formm {
	width: 100%;
	margin-bottom: 40px;
}

.formm .info {
	padding: 5px 0;
}

.formm .info .email {
	margin-bottom: 30px;
	width: 100%;
	height: 50px;
	border-radius: 5px;
	border: none;
	padding: 10px;
	font-size: inherit;
}

.formm .btn {
	margin-bottom: 10px;
	width: 100%;
}

.btn-primary {
	width: 100%;
	height: 50px;
	border-radius: 5px;
	background: red;
	color: #fff;
	font-size: inherit;
	font-weight: bold;
	border: none;
	cursor: pointer;
	outline: none;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
}

/* Stili per il componente di aiuto */
.help {
	display: flex;
	justify-content: space-between;
	font-size: 0.8rem;
}

.help a {
	color: #999;
}

.help a:hover {
	text-decoration: underline;
}

/* Stili per gli input */
input[type=checkbox] {
	background: #737373;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 0;
	height: 16px;
	left: -20px;
	width: 16px;
	margin-right: 5px;
}

input[type=email],
input[type=text],
input[type=password] {
	background: #989898;
}

/* Stili per i componenti di feedback */
.fcbk {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: 0.8em;
}

.fcbk img {
	width: 20px;
	margin-right: 10px;
}

/* Stili per il componente di registrazione */
.signup {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.signup p {
	margin-right: 5px;
}

/* Stili per ulteriori informazioni */
.more {
	font-size: 0.8em;
	line-height: 1.1em;
}

.more a {
	color: rgb(17, 108, 228);
}

.more a:hover,
.signup a:hover {
	text-decoration: underline;
}