/* parte iniziale */

html,
body {

    padding: 0;
    margin: 0;
    font-size: 1.1rem;
    letter-spacing: 1.5;
    font-family: "Open Sans", sans-serif;

}

h1,
h2,
h3,
h4 {

    color: #25a2c3;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1.5;
}

p {
    color: grey;
    letter-spacing: 1.2;
}

div img {
    width: 100%;
}


/* parte del header */


.back-header {
    background-image: url(/assets/images/banner.jpg);
    background-position: top;
    background-size: cover;
    padding: 10%;

}

.logo {
    background-color: black;
    padding: 8px;

}

.centare {
    text-align: center;
}


/* parte main */

.inline-main {
    display: inline-block;
    text-align: left;
    padding-bottom: 50px;
}

.contenitore-main {
    text-align: center;
}



/* parte img rotonda */

.h4-main {
    font-size: medium;
}

.position {
    margin-left: 200px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.img-circle {

    border-radius: 50%;
    width: 320px;

}


/* parte rossa main */

.parte-rossa-main {
    color: white;
    background-color: #e22d0e;
    padding: 20px 0px 10px 0px;
    margin-bottom: 50px;
    text-align: center;

}

.white {
    color: white;
}

.small {
    font-size: 90%;
}

span {
    display: block;
}


/* parte aside */

.container-aside {
    text-align: center;
}

.card {
    display: inline-block;
    border: #dee1e3 solid 1px;
    border-radius: 4px;
    padding-bottom: 30px;
    margin: 12px;
    width: 30%;
}

.largezza {
    height: 243px;
}


/* parte iniziale footer */


.link-al-footer {
    text-decoration: none;
    color: white;
    background-color: #f04c2f;
    padding: 10px 25px 10px 25px;
    border-radius: 8px 8px 8px 8px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1.5;
}

.container-footer {
    background-color: #25a2c3;
    padding-top: 5px;
    padding-bottom: 50px;
    text-align: center;
}

.border-bottom {
    display: inline-block;
    border-bottom: white;
}

a {
    color: #c8e7f0;
}

.small-1 {
    font-size: small;
}

.center-a {
    text-align: start;
}

.small-a {
    font-size: medium;
}

address {
    border-bottom: white solid 1px;
}