<div class="contenitore">
    <img class="img-fluid img-coustom" src="https://www.luxuryandexpensive.com/pic/Ferrari-LaFerrari-used.50002_3.jpg"
        alt="">
</div>

<div class="container d-flex justify-content-center py-5">
    <div class="row">
        <div class="col">
            <img src="https://upload.wikimedia.org/wikipedia/it/5/59/Logo_della_Scuderia_Ferrari_%28vecchio%29.svg"
                alt="" class="img-fluid" width="100px">
        </div>
    </div>
</div>
<div class="container pb-5">
    <div class="row ">
        <div class="col-12 col-xl-6 col-xxl-4 py-3 " *ngFor="let car of carsJson">
            <div *ngIf="car.brand === 'Ferrari'" class="d-flex justify-content-center">
                <div class="card">
                    <img src="{{car.modelImage}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <h5 class="card-title px-2">{{car.brand}}</h5>
                            <p class="card-text"><b>{{car.model}}</b></p>
                        </div>
                        <h5>Specifiche</h5>
                        <p class="m-0">Anno: {{car.year}}</p>
                        <p class="m-0">Prezzo: €{{car.price}}</p>
                        <hr>
                        <div *ngIf="car.available" [ngStyle]="{ 'color': 'green'}">
                            <h1>Disponibile</h1>
                        </div>
                        <div *ngIf="!car.available" [ngStyle]="{ 'color': 'red'}">
                            <h1>Sold Out</h1>
                        </div>
                        <div class="justify-content-end d-flex">
                            <a [routerLink]="['/detail',car.model]"><button type="button" class="btn btn-primary px-5 py-1">Dettagli</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
