<div class="showcase">
    <div class="logo">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    <div class="showcase-content">
        <div class="formm">
            <form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
                <h1>Sign In</h1>
                <div class="info">
                    <label for="name" class="form-label text-secondary">Nome completo</label>
                    <input type="text" id="name" name="name" required class="form-control py-2" ngModel />

                    <label for="email" class="form-label text-secondary">Email</label>
                    <input type="email" id="email" name="email" required class="form-control py-2" ngModel />

                    <label for="password" class="form-label text-secondary">Password</label>
                    <input type="password" id="password" name="password" required class="form-control py-2" minlength="4" ngModel />

                    <label for="imageUrl" class="form-label text-secondary">carica un immagine di profilo</label>
                    <input type="text" id="imageUrl" name="imageUrl" class="form-control py-2" required ngModel
                        validUrl>
                </div>

                <button type="submit" [disabled]="signupForm.invalid" class="btn btn-primary mt-4">Sign In</button>

                <div class="help">
                    <a href="https://www.netflix.com/dz-en/LoginHelp">Need Help ?</a>
                </div>
            </form>
        </div>
    </div>
</div>