.contenitore {
    width: 100%; 
}
.img-coustom{
    width: 100%;
    height: 750px;
    object-fit: cover;
}
.card {
    height: auto;
    width: 400px;
  }

  .card-img-top {
    width: 400px;
    height: 200px; /* Imposta l'altezza desiderata */
    object-fit: cover; /* Ridimensiona l'immagine per coprire l'intera area dell'elemento */
  }