<section class="bg-coustom text-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row align-items-center">
                    <div class="col-4 d-flex justify-content-evenly">
                        <img src="https://upload.wikimedia.org/wikipedia/it/0/02/Logo_della_Lamborghini.svg" alt=""
                            class="img-fluid w-50">
                    </div>
                    <div class="col-4 d-flex justify-content-evenly">
                        <img src="https://upload.wikimedia.org/wikipedia/it/5/5b/Logo_della_Aston_Martin.svg" alt=""
                            class="img-fluid w-50">
                    </div>
                    <div class="col-4 d-flex justify-content-evenly">
                        <img src="https://upload.wikimedia.org/wikipedia/it/5/59/Logo_della_Scuderia_Ferrari_%28vecchio%29.svg"
                            alt="" class="img-fluid w-50">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h2>Informazioni sull'azienda</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in dolor vestibulum, ultrices urna vel, posuere eros. Nam in turpis semper, cursus turpis eget, sollicitudin ligula. Integer eu odio sed risus elementum feugiat et sit amet nisi.</p>
                <p>Nulla facilisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum lobortis ipsum nec nulla aliquam, nec mattis nunc vestibulum. Proin ullamcorper dui eu diam dignissim, nec tristique nulla commodo.</p>
                <p>Curabitur eu nisi sed justo feugiat ultrices. Sed id velit non lorem tristique volutpat. Aliquam mattis risus sit amet magna convallis, a finibus lorem lacinia.</p>
            </div>
            <div class="col-md-6">
                <h2>Iscriviti alla nostra newsletter</h2>
                <form>
                    <div class="mb-3">
                        <label for="inputEmail" class="form-label">Indirizzo email</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="Inserisci il tuo indirizzo email" required>
                    </div>
                    <div class="mb-3 ">
                        <label for="inputName" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="inputName" placeholder="Inserisci il tuo nome" required>
                    </div >
                    <button type="submit" class="btn bg-primary text-white mt-2">Iscriviti</button>
                </form>
            </div>
        </div>
    </div>
</section>
